body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

a {
    text-decoration: none;
}

a:hover {
    color: #A1CF64;
}

.container {
    margin: 0px 325px 0px 325px;
}

.main {
    padding-bottom: 100px;
}

#menu {
    position: fixed;
    top: 63px;
}

.ui.breadcrumb {
    margin: 0;
}

.ui.menu .item.buildFlag {
    padding: 10px;
}

.segment {
    margin: 0px 0px 3em;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
}