{{set . "title" "Admin"}}
{{append . "moreStyles" "/css/main.css"}}
{{append . "moreScripts" "/public/js/lib/md5.js"}}
{{append . "moreScripts" "/public/js/login.js"}}
{{append . "moreScripts" "/public/js/register.js"}}
{{template "header.html" .}}
<div class="main container">
    <div class="ui two column grid">
        <div class="column" ng-controller="LoginController">
            <div class="ui fluid form segment">
                <h3 class="ui header">登录</h3>
                <div class="field">
                    <label>用户名</label>
                    <input placeholder="用户名" type="text" ng-model="username">
                </div>
                <div class="field">
                    <label>密码</label>
                    <input type="password" ng-model="password">
                </div>
                <div class="ui blue submit button" ng-click="login()">登录</div>
            </div>
        </div>
        <div class="column" ng-controller="RegisterController">
            <div class="ui fluid form segment">
                <h3 class="ui header">注册</h3>

                <div class="field">
                    <label>用户名</label>
                    <input placeholder="用户名" type="text" ng-model="username">
                </div>
                <div class="field">
                    <label>密码</label>
                    <input type="password" ng-model="password">
                </div>

                <div class="ui blue submit button" ng-click="register()">注册</div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}