{{set . "controllerName" .controllerName}}
{{append . "moreStyles" "/css/main.css"}}
{{set . "title" "Home"}}
{{append . "moreScripts" "/js/main.js"}}
{{template "header.html" .}}
<div class="main container">
    <div class="ui grid">
        <div class="eleven wide column">
            <div class="ui segment">
                {{range .posts}}
                    <h2 class="ui header ellipsis">
                        <a class="item" href="/post/index?stamp={{.Stamp}}">
                          {{.Title}}
                        </a>
                    </h2>
                    <div class="msg">
                        <span><i class="time icon"></i>43min ago</span>
                    </div>
                    <div class="ui divider"></div>
                    <!-- <div class="ellipsis">{{raw .Content}}</div> -->

                  <!-- <div class="description">{{.Stamp}}</div> -->
                {{end}}
            </div>
        </div>
        {{template "sidebar.html" .}}
    </div>
</div>

{{template "footer.html" .}}
