{{set . "controllerName" .controllerName}}
{{append . "moreStyles" "/css/main.css"}}
{{set . "title" "Home"}}
{{append . "moreScripts" "/js/main.js"}}
{{template "header.html" .}}
<div class="main container">
    {{range .posts}}
        <h2 class="ui header">
            <a class="item" href="/post/index?stamp={{.Stamp}}">
              {{.Title}}
            </a>
            <div class="sub header">{{.Stamp}}</div>
        </h2>
        <div class="ellipsis">{{raw .Content}}</div>

      <!-- <div class="description">{{.Stamp}}</div> -->
    {{end}}
</div>

{{template "footer.html" .}}
