{{set . "controllerName" .controllerName}}
{{append . "moreStyles" "/css/main.css"}}
{{set . "title" "Home"}}
{{append . "moreScripts" "/js/main.js"}}
{{template "header.html" .}}
<div class="segment">
    <div class="container">
        <div class="introduction">

            <h1 class="ui dividing header">
                <a href="/">Daemon Chen</a>
            </h1>

            <p>Show me the code,talk is cheap</p>


        </div>

    </div>
</div>
<div class="main container">
    {{range .posts}}
        <h2 class="ui header">
            <a class="item" href="/post/index?stamp={{.Stamp}}">
              {{.Title}}
            </a>
            <div class="sub header">{{.Stamp}}</div>
        </h2>
        <p>{{raw .Content}}</p>

      <!-- <div class="description">{{.Stamp}}</div> -->
    {{end}}
</div>

{{template "footer.html" .}}
