    <div class="footer">
        <div class="tip">show me the code,talk is cheap</div>
        <div class="icp">沪ICP备14005572号</div>
    </div>
    <a href="#" class="go-top" style="display: block;" target="_self">
       <i class="up large icon"></i>
    </a>
    <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-1.9.1.min.js" charset="utf-8"></script>

    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </body>
</html>
