    <div class="footer">
        <div class="tip">Show me the code, talk is cheap</div>
        <div class="icp">沪ICP备14005572号</div>
    </div>
    <a href="#" class="go-top" style="display: block;" target="_self">
       <i class="up large icon"></i>
    </a>
    <script src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular.min.js"></script>
    <script src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-sanitize.min.js"></script>
    <script src="http://cdn.staticfile.org/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdn.staticfile.org/moment.js/2.7.0/moment.min.js"></script>
    <script src="/public/js/main.js"></script>

    {{range .moreScripts}}
      <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </body>
</html>
