<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Daemon Chen-{{.title}}</title>
        <meta name="description" content="快乐前行 低迷折回">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="baidu_union_verify" content="4c2699c961836335046b34d583e2f1e8">
        <meta name="baidu-site-verification" content="W5ActQDR7D07HRCs">
        <link rel="apple-touch-icon" sizes="57x57" href="/public/img/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/public/img/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/public/img/apple-touch-icon-144.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/public/img/apple-touch-icon-144.png">
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/public/css/semantic.min.css">
        {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
        <link rel="alternate" type="application/rss+xml" title="Daemon Chen" href="/rss/">
        <link rel="canonical" href="http://www.classical1988.com/">
        <base target="_blank" />
    </head>
    <body>
        <div class="ui inverted menu fixed">
            <div class="container">
                <a class="{{if eq .controllerName "home"}}active{{end}} item" href="/">
                    <i class="home icon"></i> Home
                </a>
                <a class="{{if eq .controllerName "about"}}active{{end}} item">
                    <i class="info icon"></i> About me
                </a>
                <a class="item" href="https://github.com/daemonchen/fantastic">
                    <i class="github icon"></i> Github
                </a>
                <a class="item" href="http://115.29.47.52:28778/">
                    <i class="wrench icon"></i> Monitor
                </a>
                <a class="item right buildFlag" href="https://drone.io/github.com/daemonchen/fantastic/latest">
                    <img src="https://drone.io/github.com/daemonchen/fantastic/status.png" width="80" height="18"/>
                </a>
            </div>
        </div>
        <div class="home segment">
            <div class="container">
                <div class="introduction">
                    <h1 class="ui header">
                        <a href="/">Daemon Chen</a>
                    </h1>
                </div>

            </div>
        </div>
        <div class="ui divider"></div>