{{append . "moreScripts" "/public/js/common/sidebar.js"}}
<div class="five wide column">
    <div class="ui segment" ng-controller="ArchiveSidebarController">
        <span></span>
        <h2>comments</h2>
        <div class="ui divider">
        </div>
        <div ng-repeat='comment in comments' class="comments-latest">
            <div class="text" ng-bind-html="comment.Tease">
            </div>
            <div class="ui divider">
            </div>
            <a class="author">[[comment.UserName]]</a>
            <a class="time" href="/post/index?stamp=[[comment.RelativeStamp]]">[[comment.Date]]</a>

        </div>
        {{template "common/spinner.html" .}}
    </div>
    <div class="ui segment" ng-controller="TagSidebarController">
        <span></span>
        <h2>tags</h2>
        <div class="ui divider">
        </div>
        <div ng-repeat='tag in tags' class="tags-cloud">
            <a href="/list/index?tag=[[tag.tag]]">[[tag.tag]]
                <span>([[tag.count]])</span>
            </a>
        </div>
        {{template "common/spinner.html" .}}
    </div>
    <div class="ui segment" id="links">
        <span></span>
        <h2>links</h2>
        <div class="ui divider">
        </div>
        <p><a href="http://lifestack.cn/">>> 大湿的blog</a></p>
        <p><a href="http://hidali.com/">>> 大力总监</a></p>
        <p><a href="http://btang.cn/">>> 原木游戏</a></p>
        <p><a href="http://www.w3cdream.com/index.html">>> w3cdream</a></p>
        <p><a href="http://www.jqshare.com/">>> jquery特效</a></p>

    </div>

</div>