{{append . "moreScripts" "/js/common/sidebar.js"}}
<div class="five wide column">
    <div class="ui segment" ng-controller="ArchiveSidebarController">
        <span></span>
        <h2>archive</h2>
        <div class="ui divider">
        </div>
        {{template "common/spinner.html" .}}
    </div>
    <div class="ui segment" ng-controller="TagSidebarController">
        <span></span>
        <h2>tags</h2>
        <div class="ui divider">
        </div>
        {{template "common/spinner.html" .}}
    </div>
</div>