<h1 class="ui dividing">Comments</h1>
<div class="ui comments">
    <div class="comment" ng-repeat="comment in comments">
        <a class="avatar">
            <img src="http://www.gravatar.com/avatar/[[comment.Avatar]]">
        </a>
        <div class="content">
            <a class="author">[[comment.UserName]]</a>
            <div class="metadata">
                <div class="date">[[comment.Date]]</div>
            </div>
            <div class="text" ng-bind-html="comment.CommentText">
            </div>
            <div class="actions">
                <a class="reply">Reply</a>
                <!-- <a class="delete">Delete</a> -->
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
</div>
<form class="ui reply form">
    <div class="field">
        <textarea ng-model="newComment" ng-change="getPreview()"></textarea>
    </div>
    <h2 ng-show="!!preview.CommentText">预览:</h2>
    <div ng-bind-html="preview.CommentText" >
    </div>
    <div class="two fields">
        <div class="field">
            <label>Nick Name</label>
            <input placeholder="please input your nickname" type="text" ng-model="username">
        </div>
        <div class="field">
            <label>Email</label>
            <input placeholder="please input your email" type="text" ng-model="email">
        </div>
    </div>
    <div class="ui fluid blue labeled submit icon button" ng-click="sendComment()">
        <i class="icon edit"></i> Add Reply
    </div>
</form>